* {
    box-sizing: border-box;
}

body {
    font-family: "Balsamiq Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.3px;
    color: white;
    margin: 0;
}

main {
    min-height: 80vh;
    padding: 10px;
    background-image: url("https://raw.githubusercontent.com/ANOVIKOVA21/stage1-tasks/christmas-task/assets/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.hide {
    display: none;
    opacity: 0;
}

.warning {
    position: fixed;
    top: 10px;
    z-index: 5;
    text-align: center;
    background-color: rgba(100, 149, 237, 0.8);
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 10px 40px 10px 10px;
}

.warning::after {
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 1);
    margin-top: -18px;
    top: 55%;
    right: 5px;
    width: 25px;
    content: '!';
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    height: 25px;
    line-height: 30px;
    border-radius: 50%;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121C1E;
    transition: 0.7s;
}

.header__menu,
.header__filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    padding: 5px 10px;
    margin: 0;
}

.header__menu-item {
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.7s;
}

.header__menu-item:hover {
    color: #278D9F;
}

.logo:hover {
    filter: invert(57%) sepia(100%) saturate(329%) hue-rotate( 141deg) brightness(89%) contrast(90%);
}

.logo {
    width: 48px;
    height: 60px;
    background: url("assets/svg/tree.svg") no-repeat center/cover;
}

.header__search {
    border-radius: 40px;
    width: 380px;
    height: 40px;
    padding: 5px 25px;
    border: 1px solid #278D9F;
    color: white;
    background-color: rgba(31, 112, 127, 0.3);
    background-image: url("assets/svg/search.svg");
    background-repeat: no-repeat;
    background-position: right 10px top 10px;
    background-size: 20px;
}

.header__search:focus-visible {
    border: 3px solid #278D9F;
    background-color: rgba(31, 112, 127, 0.5);
    outline: none;
}

.header__search::-webkit-search-cancel-button {
    opacity: 0;
}

.header__selected-balls {
    width: 48px;
    height: 60px;
    background: url("assets/svg/ball-2.svg") no-repeat top -8px center/cover;
}

.selected-balls__num {
    display: inline-block;
    text-align: center;
    width: 42px;
    height: 43px;
    margin: 11px 0 0 3px;
    border-radius: 50px;
    padding: 6px 10px 6px 8px;
    background-color: #278D9F;
    font-size: 1.5em;
}


/* Start-page start */

.start-page {
    position: relative;
}

.start-page__tittle {
    max-width: 600px;
    padding: 66px 85px;
    text-align: center;
    margin: 33vh auto;
    font-size: 4em;
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(4px);
    border: 3px solid #278D9F;
    border-radius: 30px;
    position: relative;
    z-index: 2;
}

.button {
    display: block;
    color: white;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(4px);
    border: 3px solid #278D9F;
    border-radius: 30px;
    font-family: inherit;
    cursor: pointer;
}

.start-page__btn {
    font-size: 2em;
    padding: 13px 119px;
    margin: 0 auto 155px auto;
}

.start-page__btn:hover {
    backdrop-filter: blur(10px);
}

.start-page__ball-img {
    position: absolute;
    top: 0;
    width: 100%;
}

.ball-img-big {
    max-width: 500px;
    background: url("assets/ball/1.png") no-repeat center/contain;
    height: 500px;
}

.ball-img-small {
    max-width: 300px;
    background: url("assets/ball/2.png") no-repeat center/contain;
    height: 300px;
    right: 0;
}


/* .start-page__ball-img::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 215px;
    background-color: rgb(196, 194, 193);
    top: -210px;
    left: 50%;
} */

.filters-by-range__container {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.filters-by-range__quantity,
.filters-by-range__year {
    width: 100%
}

.filters-by-range__quantity-value,
.filters-by-range__year-value {
    border-radius: 30px;
    border: 1px solid #278D9F;
    background-color: rgb(41 100 108);
    padding: 5px;
}

.filters-by-range__quantity-value {
    min-width: 33px;
    text-align: center;
}


/* Start-page end */


/* Toys-page start */

.toys-page {
    display: flex;
    column-gap: 30px;
}

.toys-page__filters {
    padding: 0 10px 10px 10px;
    border-radius: 30px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(4px);
}

.filters-by-values__forms,
.filters-by-values__colors,
.filters-by-values__sizes,
.filters-by-values__favorite {
    list-style: none;
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 0;
}

.toys-page__title,
.card__title {
    font-size: 1.3em;
    font-family: "Neucha", Arial, Helvetica, sans-serif;
}

.filters-by-values__form {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
    transition: 0.7s;
}

.filters-by-values__form img {
    width: 100%;
    height: 40px;
}

.filters-by-values__form:hover,
.filters-by-values__size-big:hover,
.filters-by-values__size-medium:hover,
.filters-by-values__size-small:hover,
.form-active,
.size-active {
    filter: invert(27%) sepia(11%) saturate(2212%) hue-rotate(1deg) brightness(86%) contrast(97%);
    transition: 0.7s;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox+label::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
    background-color: rgb(11 139 157);
    cursor: pointer;
}

.checkbox:checked+label::before {
    background-image: url("assets/svg/mark.svg");
}

.checkbox:not(:disabled):not(:checked)+label:hover::before {
    border: 1px solid #b3d7ff;
    transition: 0.7s;
}

.filters-by-values__color-white+label::before {
    background-color: white;
}

.filters-by-values__color-yellow+label::before {
    background-color: yellow;
}

.filters-by-values__color-red+label::before {
    background-color: red;
}

.filters-by-values__color-blue+label::before {
    background-color: blue;
}

.filters-by-values__color-green+label::before {
    background-color: green;
}

.filters-by-values__size-big img,
.filters-by-values__size-medium img,
.filters-by-values__size-small img {
    width: 100%;
    cursor: pointer;
}

.filters-by-values__size-big {
    max-width: 50px;
}

.filters-by-values__size-medium {
    max-width: 40px;
}

.filters-by-values__size-small {
    max-width: 30px;
}

.sort__list {
    padding: 10px;
    border: 2px solid #278D9F;
    background-color: rgb(41 100 108);
    color: white;
    border-radius: 20px;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer;
}

.toys-page__reset {
    margin-top: 30px;
    font-size: 1em;
    padding: 5px 15px;
}

.toys-page__reset:hover {
    background-color: rgb(41 100 108);
}

.toys-page__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    transition: 0.7s;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    max-width: 222px;
    max-height: 360px;
    width: 100%;
    padding: 10px;
    background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgb(197 191 191 / 50%) 0%, rgb(154 201 207 / 50%) 100%);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.card:hover,
.card-active {
    background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgb(93 151 134 / 50%) 0%, rgb(14 133 127 / 50%) 100%);
    backdrop-filter: blur(6px);
}

.card__title {
    margin: 0;
    text-align: center;
}

.card__img {
    display: block;
    max-width: 110px;
    margin: 0 auto 10px auto;
}

.card__list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}

.card__list-item {
    margin-bottom: 5px;
    line-height: 20px;
}


/* Toys-page end */

.footer {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #121C1E;
}

.footer__info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.footer__info a {
    color: white;
    text-decoration: none;
}

.footer__info a:hover {
    opacity: 0.5;
}