* {
    box-sizing: border-box;
}

body {
    font-family: "Balsamiq Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.3px;
    color: white;
    margin: 0;
}

main {
    height: 80vh;
    padding: 10px;
    background-image: url("https://raw.githubusercontent.com/ANOVIKOVA21/stage1-tasks/christmas-task/assets/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

body .hide {
    display: none;
    opacity: 0;
}

.warning {
    position: fixed;
    top: 10px;
    left: 40vw;
    z-index: 5;
    text-align: center;
    background-color: rgba(100, 149, 237, 0.8);
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 10px 40px 10px 10px;
}

.warning::after {
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 1);
    margin-top: -18px;
    top: 55%;
    right: 5px;
    width: 25px;
    content: '!';
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    height: 25px;
    line-height: 30px;
    border-radius: 50%;
}

.message {
    font-size: 1.7em;
}

.header {
    height: 10vh;
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121C1E;
    transition: 0.7s;
    z-index: 2;
}

.header__menu,
.header__filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    padding: 5px 10px;
    margin: 0;
}

.header__menu-item {
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.7s;
}

.header__menu-item:hover {
    color: #278D9F;
}

.logo {
    width: 48px;
    height: 60px;
}

.logo:hover path {
    transition: 0.3s;
    fill: #278D9F;
}

.logo:hover .star {
    transition: 0.3s;
    fill: #e5d473;
}

.header__search {
    border-radius: 40px;
    width: 380px;
    height: 40px;
    padding: 5px 25px 5px 40px;
    border: 1px solid #278D9F;
    color: white;
    background-color: rgba(31, 112, 127, 0.3);
    font-size: 1em;
    font-family: inherit;
    background-image: url("assets/svg/search.svg");
    background-repeat: no-repeat;
    background-position: left 10px top 10px;
    background-size: 20px;
}

.header__search:focus-visible {
    border: 3px solid #278D9F;
    background-color: rgba(31, 112, 127, 0.5);
    outline: none;
}

.header__search::-webkit-search-cancel-button {
    cursor: pointer;
}

.header__selected-balls {
    width: 48px;
    height: 60px;
    background: url("assets/svg/ball-2.svg") no-repeat top -8px center/cover;
}

.selected-balls__num {
    display: inline-block;
    text-align: center;
    width: 42px;
    height: 43px;
    margin: 11px 0 0 3px;
    border-radius: 50px;
    padding: 6px 10px 6px 8px;
    background-color: #278D9F;
    font-size: 1.5em;
}


/* Start-page start */

.start-page {
    position: relative;
    background: url("assets/ball/red-balls.png") repeat-x;
    padding: 20vh 0 0 0;
}

.start-page__tittle {
    max-width: 680px;
    padding: 66px 85px;
    text-align: center;
    margin: 0 auto 30px;
    font-size: 4em;
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(4px);
    border: 3px solid #278D9F;
    border-radius: 30px;
    position: relative;
}

.button {
    display: block;
    color: white;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(4px);
    border: 2px solid #278D9F;
    border-radius: 30px;
    font-family: inherit;
    transition: 0.3s;
    cursor: pointer;
}

.start-page__btn {
    font-size: 2em;
    padding: 13px 119px;
    margin: 0 auto;
}

.start-page__btn:hover {
    backdrop-filter: blur(10px);
}

.start-page__ball-img {
    position: absolute;
    top: 10vh;
    width: 100%;
    z-index: 0;
    transform-origin: top center;
}

.ball-img-big {
    top: 20vh;
    max-width: 400px;
    background: image-set(url("assets/ball/christmas-ball1.webp") type("image/webp"),
            url("assets/ball/christmas-ball1.png") type("image/png")) no-repeat center/contain;
    /* background: url("assets/ball/christmas-ball1.webp") no-repeat center/contain; */
    height: 500px;
    animation: appearAndSwingLeft 1.3s;
}

@keyframes appearAndSwingLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    40% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    55% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    90% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.ball-img-small {
    max-width: 200px;
    background: image-set(url("assets/ball/christmas-ball2.webp") type("image/webp"),
            url("assets/ball/christmas-ball2.png") type("image/png")) no-repeat center/contain;
    /* background: url("assets/ball/christmas-ball2.webp") no-repeat center/contain; */
    height: 300px;
    right: 15%;
    animation: appearAndSwingRight 1.3s;
}

@keyframes appearAndSwingRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    40% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    55% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    75% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    90% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}


.filters-by-range__container {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.filters-by-range__quantity,
.filters-by-range__year {
    width: 100%
}

.filters-by-range__quantity-value,
.filters-by-range__year-value {
    border-radius: 30px;
    border: 1px solid #278D9F;
    background-color: rgb(41 100 108);
    padding: 5px;
}

.filters-by-range__quantity-value {
    min-width: 33px;
    text-align: center;
}


/* Start-page end */

/* Toys-page start */

.toys-page {
    display: flex;
    column-gap: 30px;
}

.toys-page__filters {
    position: sticky;
    top: 100px;
    max-width: 322px;
    width: 100%;
    padding: 0 5px 10px 10px;
    border-radius: 25px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(4px);
    align-self: start;
}

.filters__container {
    height: 80vh;
    padding-right: 5px;
    overflow: hidden;
    scrollbar-gutter: stable;
    scrollbar-color: white rgba(31, 112, 127, .3);
    scrollbar-width: thin;
    overscroll-behavior: contain;
    transition: 0.2s;
}

.filters__container:hover {
    overflow: auto;
}

.filters__container::-webkit-scrollbar {
    width: 5px;
}

.filters__container::-webkit-scrollbar-track {
    background-color: rgba(31, 112, 127, .3);
    margin: 15px 0 5px 0;
    border-radius: 100px;
}

.filters__container::-webkit-scrollbar-thumb {
    background-color: rgb(244, 244, 245);
    border-radius: 100px;
}

.filters-by-values__forms,
.filters-by-values__colors,
.filters-by-values__sizes,
.filters-by-values__favorite {
    list-style: none;
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 0;
}

.toys-page__title,
.card__title {
    font-size: 1.3em;
    font-family: "Neucha", Arial, Helvetica, sans-serif;
}

.filters-by-values__form {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
    transition: 0.7s;
}

.filters-by-values__form img {
    width: 100%;
    height: 40px;
}

.filters-by-values__form:hover,
.filters-by-values__size-big:hover,
.filters-by-values__size-medium:hover,
.filters-by-values__size-small:hover,
.form-active,
.size-active {
    filter: invert(27%) sepia(11%) saturate(2212%) hue-rotate(1deg) brightness(86%) contrast(97%);
    transition: 0.7s;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox+label::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
    background-color: rgb(11 139 157);
    cursor: pointer;
    transition: 0.3s;
}

.checkbox:checked+label::before {
    background-image: url("assets/svg/mark.svg");
}

.checkbox:not(:disabled):not(:checked)+label:hover::before {
    border: 1px solid #67b1cf;
    box-shadow: 0px 0px 2px 1px;
}

.filters-by-values__color-white+label::before {
    background-color: white;
}

.filters-by-values__color-yellow+label::before {
    background-color: yellow;
}

.filters-by-values__color-red+label::before {
    background-color: red;
}

.filters-by-values__color-blue+label::before {
    background-color: blue;
}

.filters-by-values__color-green+label::before {
    background-color: green;
}

.filters-by-values__size-big img,
.filters-by-values__size-medium img,
.filters-by-values__size-small img {
    width: 100%;
    cursor: pointer;
}

.filters-by-values__size-big {
    max-width: 50px;
}

.filters-by-values__size-medium {
    max-width: 40px;
}

.filters-by-values__size-small {
    max-width: 30px;
}

.sort__list {
    padding: 10px;
    border: 2px solid #278D9F;
    background-color: rgb(41 100 108);
    color: white;
    border-radius: 20px;
    font-family: inherit;
    font-size: 1em;
    transition: 0.3s;
    cursor: pointer;
}

.sort__list:hover,
.button:hover {
    background-color: rgb(67 149 160);
    border: 2px solid #72d5e6;
}

.sort__list:focus-visible {
    outline: none;
}

.toys-page__reset-filters,
.toys-page__reset-settings {
    margin-top: 30px;
    font-size: 1em;
    padding: 5px 15px;
}

.toys-page__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    transition: 0.7s;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    max-width: 222px;
    max-height: 360px;
    width: 100%;
    padding: 10px;
    background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgb(197 191 191 / 50%) 0%, rgb(154 201 207 / 50%) 100%);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
    opacity: 0;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgb(93 151 134 / 50%) 0%, rgb(14 133 127 / 50%) 100%);
    box-shadow: 0 2px 10px rgba(245, 241, 245, 0.9);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
}

.card:hover::after,
.card-active {
    background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgb(93 151 134 / 50%) 0%, rgb(14 133 127 / 50%) 100%);
    backdrop-filter: blur(6px);
    opacity: 1;
}

.card__title {
    margin: 0;
    text-align: center;
}

.card__img {
    display: block;
    max-width: 110px;
    margin: 0 auto 10px auto;
}

.card__list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}

.card__list-item {
    margin-bottom: 5px;
    line-height: 20px;
}


/* Toys-page end */

.footer {
    height: 10vh;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #121C1E;
}

.footer__info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.footer__info a {
    color: white;
    text-decoration: none;
}

.footer__info a:hover {
    opacity: 0.5;
}

@media (max-height:850px) {
    .start-page {
        padding: 10vh 0 0 0;
    }

    .ball-img-big {
        top: 5vh;
        height: calc(70vh - 40px);
        max-width: 300px;
    }

}

@media (max-height:660px) {
    .footer__info {
        padding: 0;
        margin: 0;
    }
}

@media(max-width:1280px) {
    .start-page__tittle {
        padding: 40px 30px;
        max-width: 600px;
        font-size: 3.5em;
    }



    .ball-img-small {
        right: 0;
    }
}

@media(max-width:1024px) {
    .ball-img-big {
        max-width: 220px;
    }

    .start-page__tittle {
        max-width: 500px;
    }
}

@media(max-width:836px) {
    body {
        font-size: 16px;
    }

    .logo {
        width: 38px;
        height: 50px;
    }

    .header__search {
        width: 280px;
    }

    .header__selected-balls {
        width: 38px;
        height: 46px;
        background: url("assets/svg/ball-2.svg") no-repeat top -5px center/cover;
    }

    .selected-balls__num {
        width: 34px;
        height: 34px;
        margin: 10px 0 0 2px;
        padding: 6px;
    }

    .start-page__tittle {
        /* padding: 40px 30px; */
        max-width: 450px;
        font-size: 3em;
    }

    .start-page__btn {
        padding: 10px 50px;
    }

    .toys-page {
        column-gap: 10px;
    }

    .toys-page__filters {
        top: 90px;
        max-width: 280px;
    }

    .filters-by-values__form {
        max-width: 30px;
        max-height: 30px;
    }

    .toys-page__cards {
        gap: 10px;
    }

    .card {
        padding: 5px;
        max-width: 200px;
        gap: 0;
    }

    /* .card__img {
        max-width: 60px;
    } */

    .card__list-item {
        margin: 0;
    }

    .checkbox+label::before {
        width: 25px;
        height: 25px;
    }

    .filters-by-values__size-big {
        max-width: 40px;
    }

    .filters-by-values__size-medium {
        max-width: 30px;
    }

    .filters-by-values__size-small {
        max-width: 20px;
    }

    .noUi-horizontal .noUi-handle {
        width: 14px;
        height: 14px;
        right: -6px;
        top: -5px;
    }

    .noUi-horizontal {
        height: 5px;
        padding: 0 6px;
    }

    .sort__list {
        padding: 5px;
    }

    .toys-page__reset-filters,
    .toys-page__reset-settings {
        margin-top: 15px;
    }

    .footer__info {
        margin: 0;
    }
}