* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    margin: 0;
}

main {
    min-height: 80vh;
    padding: 10px;
    background-image: url("https://raw.githubusercontent.com/ANOVIKOVA21/stage1-tasks/christmas-task/assets/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121C1E;
    transition: 0.7s;
}

.header__menu,
.header__filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    padding: 5px 10px;
    margin: 0;
}

.header__menu-item {
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.7s;
}

.header__menu-item:hover {
    color: #278D9F;
}

.logo:hover {
    filter: invert(57%) sepia(100%) saturate(329%) hue-rotate( 141deg) brightness(89%) contrast(90%);
}

.logo {
    width: 48px;
    height: 60px;
    background: url("assets/svg/tree.svg") no-repeat center/cover;
}

.header__search {
    border-radius: 40px;
    width: 380px;
    height: 40px;
    padding: 5px 25px;
    border: 1px solid #278D9F;
    color: white;
    background-color: rgba(31, 112, 127, 0.3);
}

.header__search::after {
    content: "";
    display: block;
    height: 10px;
    width: 15px;
    background: url("assets/svg/search.svg") no-repeat;
}

.header__selected-balls {
    width: 48px;
    height: 60px;
    background: url("assets/svg/ball-2.svg") no-repeat top -8px center/cover;
}

.selected-balls__num {
    display: inline-block;
    text-align: center;
    width: 42px;
    height: 43px;
    margin: 11px 0 0 3px;
    border-radius: 50px;
    padding: 6px 10px 6px 11px;
    background-color: #278D9F;
    font-size: 1.5em;
}

.start-page__tittle {
    max-width: 600px;
    padding: 66px 85px;
    text-align: center;
    margin: auto;
    font-size: 4em;
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(4px);
    border: 3px solid #278D9F;
    border-radius: 30px;
    margin-top: 40vh;
    margin-bottom: 116px;
}

.start-page__btn {
    display: block;
    color: white;
    padding: 13px 119px;
    font-size: 2em;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(4px);
    border: 3px solid #278D9F;
    border-radius: 30px;
    margin: 0 auto 155px auto;
}

.start-page__btn:hover {
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.footer {
    padding: 10px;
    background-color: #121C1E;
}

.footer__info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.footer__info a {
    color: white;
    text-decoration: none;
}

.footer__info a:hover {
    opacity: 0.5;
}